<div id="header">
  <div id="headerLinks">
    <%= link_to 'A propos', about_path %>
    <%= link_to 'Blog', 'https://www.facebook.com/PolitiQA' %>
    <%= link_to 'Questions', '#' %>
  </div>
  <div id="headerLogo">
    <%= link_to image_tag('logo-big.png', alt: "PolitiQA"), root_path %>
  </div>
  <% if content_for?(:header) %>
    <div id="headerTitle">
      <h1><%= yield(:header) %></h1>
    </div>
  <% end %>
  <% if content_for?(:subheader) %>
    <div id="headerSubTitle">
      <h2><%= yield(:subheader) %></h2>
    </div>
  <% end %>
</div>
